body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(227,227,227,0.96);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0;
}

.search {
  padding: 20px 0;
  text-align: left;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.search input {
  width: 80%;
  padding: 10px 10px 10px 44px;
  font-size: 20px;
  outline: 0;
  border-radius: 6px 0 0 6px;
}

.search img {
  cursor: pointer;
}

.search .img-search {
  top: 32px;
  left: 10px;
  position: absolute;
  z-index: 999;
}

.search .img-clear {
  top: 32px;
  right: 145px;
  position: absolute;
  z-index: 999;
}

.input-text {
  display: block;
  margin: 0;
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  border-radius: 0.4rem;
}

.input-text::placeholder {
  color: #B0BEC5;
}

.input-text:focus {
  outline: none;
}

.search button {
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  width: 15%;
}

.custom-btn {
  width: 130px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-1 {
  background: rgb(6,14,131);
  background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
  border: none;
}
.btn-1:hover {
  background: rgb(0,3,255);
  background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

.article {
  background: white;
  padding: 20px;
  margin: 13px 0;
  border-radius: 20px;
}

.article__title a {
  font-family: Cuprum, "sans-serif";
  font-size: 30px;
  text-decoration: none;
  font-weight: 900;
  color: navy;
}

.article__title a:hover {
  color: #ff3333;
}

.article__text {
  font-family: Cuprum, "sans-serif";
  font-size: 20px;
  margin: 8px 0 8px 0;
}

.article__text img, .article__text .ytp-cued-thumbnail-overlay {
  display: none;
}

.nothing {
  text-align: center;
  font-size: 18px;
}

.pages {
  display: flex;
  justify-content: center;
}

.pages .page {
  margin: 0 10px;
  cursor: pointer;
}

.pages .page.active {
  color: red;
  font-weight: bold;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
}

.pagination-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  /* padding: 8px 14px; */
  height: 40px;
  width: 40px;
  text-decoration: none;
  transition: background-color .2s;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 20px;
}

.pagination-container a.active {
  background-color: #007bff;
  color: white;
  border: 1px solid #7cbddb;
}

.pagination-container a.disabled {
  opacity: 0.2;
}
.pagination-container a:hover:not(.active) {background-color: rgb(238, 238, 238);}
